.calculator-plane{
	margin:20px auto;
	padding:15px;
	width:245px;
	background-color: #f2f2f2;
}
.output{
	width:240px;
	height:25px;
	text-align: right;

}
.div-first{
	margin-left:126px;
}
.input{
	width:55px;
	height:25px;
	margin-top:12px;
}