body{
	background: #ebe4ea;
	text-align: center;
	color:#d9a3d5;
}
table{
	margin:0 auto;
	border:1px #d9a3d5 solid;
}
td{
	padding:50px;
	background-color: #e8d1e7;
	margin:2px;
	font-size:25px;
}
input{
	height:30px;
	margin:10px 4px;
}
button{
	width:70px;
	height:27px;
}
.zero{
	background-color: #ebe4ea;
}