body{
	text-align: center;
	color:#FFB90F;
}
table{
	margin:0 auto;
	border:1px #d9a3d5 solid;
}
td{
	padding:50px;
	background-color: #FFF68F;
	margin:2px;
	font-size:25px;
}
input{
	height:30px;
	margin:10px 4px;
}
button{
	width:70px;
	height:27px;
}
.zero{
	background-color: #FFFACD;
}